In [1]:
# importing packages

import sys
print sys.version

import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
import statsmodels.api as sm

import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

# special matplotlib argument for improved plots
from matplotlib import rcParams

2.7.10 |Anaconda 2.3.0 (x86_64)| (default, Oct 19 2015, 18:31:17)
[GCC 4.2.1 (Apple Inc. build 5577)]

In [2]:
plasticsdf=pd.read_csv("1995-2015.csv")

In [3]:
plasticsdf.head()

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,conm,...,chq,cshiq,cstkq,dlcq,dlttq,ppentq,pstkq,wcapq,costat,sic
0,1004,02/28/1995,1994,3,INDL,C,D,STD,AIR,AAR CORP,...,NaN,NaN,16.283,1.604,120.149,54.901,0,249.126,A,5080
1,1004,05/31/1995,1994,4,INDL,C,D,STD,AIR,AAR CORP,...,NaN,NaN,16.284,1.632,119.766,56.596,0,248.492,A,5080
2,1004,08/31/1995,1995,1,INDL,C,D,STD,AIR,AAR CORP,...,NaN,NaN,16.301,1.473,119.392,56.279,0,251.787,A,5080
3,1004,11/30/1995,1995,2,INDL,C,D,STD,AIR,AAR CORP,...,NaN,NaN,16.313,1.489,119.013,55.324,0,254.956,A,5080
4,1004,02/29/1996,1995,3,INDL,C,D,STD,AIR,AAR CORP,...,NaN,NaN,16.394,1.505,118.631,54.909,0,256.555,A,5080