# Magic Formula Investing: Implementation and Simulation

## Implementation in Python

In [43]:
# importing packages
# import sys
# print sys.version
import math
import numpy as np
import pandas as pd
# import scipy.stats as stats
import matplotlib.pyplot as plt
# import sklearn
# import statsmodels.api as sm

# import seaborn as sns
# sns.set_style("whitegrid")
# sns.set_context("poster")

# special matplotlib argument for improved plots
from matplotlib import rcParams

In [45]:
df=pd.read_csv("QuarterlyRawDataNoEBIT.csv")
ebit_df=pd.read_csv("AnnualRawInputData.csv")
print len(df), len(ebit_df)
df.head()

512530 140522

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,conm,...,cstkq,dlcq,dlttq,ppentq,pstkq,wcapq,costat,mkvaltq,prccq,sic
0,1004,02/28/1990,1989,3,INDL,C,D,STD,AIR,AAR CORP,...,16.070,32.551,72.606,53.428,0,188.100,A,NaN,31.125,5080
1,1004,05/31/1990,1989,4,INDL,C,D,STD,AIR,AAR CORP,...,16.082,33.821,72.329,63.441,0,184.932,A,NaN,21.250,5080
2,1004,08/31/1990,1990,1,INDL,C,D,STD,AIR,AAR CORP,...,16.086,27.427,71.806,63.545,0,189.351,A,NaN,15.875,5080
3,1004,11/30/1990,1990,2,INDL,C,D,STD,AIR,AAR CORP,...,16.086,33.563,71.769,63.075,0,186.955,A,NaN,11.875,5080
4,1004,02/28/1991,1990,3,INDL,C,D,STD,AIR,AAR CORP,...,16.097,11.436,69.020,63.626,0,184.665,A,NaN,12.875,5080

# Cleaning the Data

In [46]:
# trimming data for years past 2014
df=df[df['fyearq']<2015]
ebit_df=ebit_df[ebit_df['fyear']<2015]

# eliminating duplicate data listed under FS and INDL
ebit_df=ebit_df[ebit_df['indfmt']!="FS"]

print len(df), len(ebit_df)

487706 124596

In [58]:
missing_ebit_tics=ebit_df[ebit_df['ebit'].isnull()].tic.unique()
# print type(missing_ebit_tics)

# df=df.drop(missing_ebit_tics,)

df = df[~df.tic.isin(missing_ebit_tics)]
ebit_df = ebit_df[~ebit_df.tic.isin(missing_ebit_tics)]

print len(df), len(ebit_df)

239972 87305

In [59]:
# remove SIC Division H Companies: Finance, Insurance, and Real Estate
df_below_6000=df[df['sic']<6000]
df_above_7000=df[df['sic']>=7000]

df=pd.concat([df_below_6000,df_above_7000])

print len(df), len(ebit_df)

239972 87305

In [60]:
# remove SIC Division E Companies: Transportation, Communications, Electric, Gas, and Sanitary Services
df_below_4000=df[df['sic']<4000]
df_above_5000=df[df['sic']>=5000]

df=pd.concat([df_below_4000,df_above_5000])

print len(df), len(ebit_df)

239972 87305

In [61]:
def get_row_ebit(row):
    ebit_row = ebit_df[ebit_df['fyear']==row['fyearq']]
    ebit_row = ebit_row[ebit_row['tic']== row['tic']]
    if ebit_row['ebit'].empty:
        return 0
    else: 
        return float(ebit_row['ebit'])
# ebit_df.head()

In [55]:
%%time 
# takes a while to run so don't run this every time
# the edited CSVs have been saved and can be loaded in separately 
df['ebit']=df.apply(get_row_ebit,axis=1)

CPU times: user 11min 46s, sys: 3.2 s, total: 11min 49s
Wall time: 2h 2min 27s

In [56]:
df.head()

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,conm,...,dlcq,dlttq,ppentq,pstkq,wcapq,costat,mkvaltq,prccq,sic,ebit
206,1050,02/28/1990,1989,3,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.069,1.085,0.024,0,0.382,A,NaN,0.156,3564,-0.229
207,1050,05/31/1990,1989,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.057,0.804,0.024,0,0.372,A,NaN,0.281,3564,-0.229
208,1050,08/31/1990,1990,1,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.061,1.171,0.155,0,0.553,A,NaN,0.281,3564,-0.032
209,1050,11/30/1990,1990,2,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.059,1.182,0.099,0,0.583,A,NaN,0.125,3564,-0.032
210,1050,02/28/1991,1990,3,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,1.073,0.244,0.024,0,-0.641,A,NaN,0.250,3564,-0.032

In [62]:
ebit_df.head()

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,conm,curcd,...,dt,ebit,ppent,pstk,wcap,costat,prcc_c,mkvalt,prcc_f,sic
0,1004,05/31/1990,1989,INDL,C,D,STD,AIR,AAR CORP,USD,...,NaN,46.851,63.441,0,184.932,A,36.00,NaN,21.250,5080
1,1004,05/31/1991,1990,INDL,C,D,STD,AIR,AAR CORP,USD,...,NaN,33.701,63.415,0,189.172,A,11.50,NaN,14.125,5080
2,1004,05/31/1992,1991,INDL,C,D,STD,AIR,AAR CORP,USD,...,NaN,26.530,60.422,0,197.246,A,13.50,NaN,12.875,5080
3,1004,05/31/1993,1992,INDL,C,D,STD,AIR,AAR CORP,USD,...,NaN,16.343,56.052,0,193.399,A,11.75,NaN,13.500,5080
4,1004,05/31/1994,1993,INDL,C,D,STD,AIR,AAR CORP,USD,...,NaN,21.824,54.783,0,240.009,A,14.50,NaN,14.375,5080

In [63]:
df.to_csv("CleanedQuarterlyRawWithEBIT.csv")
ebit_df.to_csv("CleanedAnnualEBIT.csv")

In [91]:
df=pd.read_csv("CleanedQuarterlyRawWithEBIT.csv")
ebit_df=pd.read_csv("CleanedAnnualEBIT.csv")
print len(df), len(ebit_df)

239972 87305

In [92]:
df=df.drop(['Unnamed: 0'],axis=1)
df.head()

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,conm,...,dlcq,dlttq,ppentq,pstkq,wcapq,costat,mkvaltq,prccq,sic,ebit
0,1050,02/28/1990,1989,3,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.069,1.085,0.024,0,0.382,A,NaN,0.156,3564,-0.229
1,1050,05/31/1990,1989,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.057,0.804,0.024,0,0.372,A,NaN,0.281,3564,-0.229
2,1050,08/31/1990,1990,1,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.061,1.171,0.155,0,0.553,A,NaN,0.281,3564,-0.032
3,1050,11/30/1990,1990,2,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.059,1.182,0.099,0,0.583,A,NaN,0.125,3564,-0.032
4,1050,02/28/1991,1990,3,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,1.073,0.244,0.024,0,-0.641,A,NaN,0.250,3564,-0.032

In [93]:
ebit_df=ebit_df.drop(['Unnamed: 0'], axis=1)
ebit_df.head()

,gvkey,datadate,fyear,indfmt,consol,popsrc,datafmt,tic,conm,curcd,...,dt,ebit,ppent,pstk,wcap,costat,prcc_c,mkvalt,prcc_f,sic
0,1004,05/31/1990,1989,INDL,C,D,STD,AIR,AAR CORP,USD,...,NaN,46.851,63.441,0,184.932,A,36.00,NaN,21.250,5080
1,1004,05/31/1991,1990,INDL,C,D,STD,AIR,AAR CORP,USD,...,NaN,33.701,63.415,0,189.172,A,11.50,NaN,14.125,5080
2,1004,05/31/1992,1991,INDL,C,D,STD,AIR,AAR CORP,USD,...,NaN,26.530,60.422,0,197.246,A,13.50,NaN,12.875,5080
3,1004,05/31/1993,1992,INDL,C,D,STD,AIR,AAR CORP,USD,...,NaN,16.343,56.052,0,193.399,A,11.75,NaN,13.500,5080
4,1004,05/31/1994,1993,INDL,C,D,STD,AIR,AAR CORP,USD,...,NaN,21.824,54.783,0,240.009,A,14.50,NaN,14.375,5080

In [94]:
# def get_annual_cash(row):
#     cash_row = ebit_df[ebit_df['datadate']==row['datadate']]for row datadate and row tic: 
#         set row chq to ebit_df cash value with 
        
def get_row_cash(row):
    if math.isnan(row['chq']):
        cash_row = ebit_df[ebit_df['datadate']==row['datadate']]
        cash_row = cash_row[cash_row['tic']==row['tic']]
    # print cash_row
    # print cash_row['datadate']
    # print cash_row['tic']
        if cash_row['ch'].empty:# and math.isnan(cash_row['ch']):
            return float('NaN')
        else: 
            return float(cash_row['ch'])
    else: 
        return row['chq']

In [95]:
%%time
# sampledf=df.head(100)
# sampledf['chq']=sampledf.apply(get_row_cash,axis=1)
# sampledf
df['chq']=df.apply(get_row_cash,axis=1)

CPU times: user 14min 7s, sys: 1.54 s, total: 14min 8s
Wall time: 22min 3s

In [96]:
df.head()

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,conm,...,dlcq,dlttq,ppentq,pstkq,wcapq,costat,mkvaltq,prccq,sic,ebit
0,1050,02/28/1990,1989,3,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.069,1.085,0.024,0,0.382,A,NaN,0.156,3564,-0.229
1,1050,05/31/1990,1989,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.057,0.804,0.024,0,0.372,A,NaN,0.281,3564,-0.229
2,1050,08/31/1990,1990,1,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.061,1.171,0.155,0,0.553,A,NaN,0.281,3564,-0.032
3,1050,11/30/1990,1990,2,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.059,1.182,0.099,0,0.583,A,NaN,0.125,3564,-0.032
4,1050,02/28/1991,1990,3,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,1.073,0.244,0.024,0,-0.641,A,NaN,0.250,3564,-0.032

In [99]:
df.to_csv("test.csv")

In [111]:
df=df[~np.isnan(df['chq'])]

In [112]:
# basic function to calculate ratio 1 across a row
# ratio 1 = EBIT / (NFA + NWC)
# EBIT = earnings before interest and taxes, after subtracting depreciation and amortization
# NFA = net fixed assets = net book value of Property Plant and Equipment (PPENTQ)
# NMW = net working capital = working capital - cash = WCAPQ - CHQ
def ratio_one(row):
    if math.isnan(row['ppentq']) or math.isnan(row['wcapq']) or math.isnan(row['chq']) or row['ppentq']+row['wcapq']-row['chq']==0:
        ratio = 0
    else: 
        ratio=row['ebit']/(row['ppentq']+row['wcapq']-row['chq'])
    return ratio

In [118]:
%%time
# add the ratio1 column to the dataframe
df['ratio1']=df.apply(ratio_one,axis=1)

CPU times: user 4.31 s, sys: 19.8 ms, total: 4.33 s
Wall time: 4.32 s

In [119]:
df.head(100)

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,tic,conm,...,dlttq,ppentq,pstkq,wcapq,costat,mkvaltq,prccq,sic,ebit,ratio1
1,1050,05/31/1990,1989,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.804,0.024,0,0.372,A,NaN,0.2810,3564,-0.229,0.396
5,1050,05/31/1991,1990,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.226,0.024,0,-0.674,A,NaN,0.5000,3564,-0.032,-0.650
10,1050,05/31/1992,1991,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.224,0.024,0,-0.824,A,NaN,0.6560,3564,-0.069,-0.801
13,1050,12/31/1992,1992,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.000,0.024,0,-0.924,A,NaN,3.0310,3564,-0.048,-0.901
17,1050,12/31/1993,1993,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,2.149,2.268,0,0.506,A,NaN,3.1870,3564,-0.281,2.751
21,1050,12/31/1994,1994,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,1.399,2.138,0,0.496,A,NaN,1.8750,3564,0.900,2.304
25,1050,12/31/1995,1995,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,1.253,2.020,0,1.427,A,NaN,3.0620,3564,0.057,2.404
29,1050,12/31/1996,1996,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,1.142,1.806,0,2.187,A,NaN,2.0000,3564,0.718,3.581
33,1050,12/31/1997,1997,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,1.737,1.947,0,0.649,A,NaN,3.0620,3564,0.475,1.748
37,1050,12/31/1998,1998,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,1.570,2.062,0,0.372,A,NaN,3.0000,3564,1.137,2.069
41,1050,12/31/1999,1999,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,28.290,14.244,0,14.342,A,NaN,2.5000,3564,0.442,27.451
45,1050,12/31/2000,2000,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,26.101,13.587,0,11.632,A,NaN,1.3750,3564,2.009,24.555
49,1050,12/31/2001,2001,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,18.588,13.136,0,8.063,A,NaN,3.3000,3564,4.305,21.146
53,1050,12/31/2002,2002,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,16.202,12.122,0,6.277,A,NaN,1.8500,3564,2.201,18.205
57,1050,12/31/2003,2003,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,13.388,9.987,0,3.709,A,NaN,1.6500,3564,1.364,13.560
61,1050,12/31/2004,2004,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,11.894,9.385,0,1.910,A,NaN,3.4400,3564,1.185,10.956
65,1050,12/31/2005,2005,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,12.847,8.796,0,3.602,A,NaN,5.7399,3564,3.525,12.088
69,1050,12/31/2006,2006,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,14.872,8.530,0,14.311,A,103.0205,8.9700,3564,6.047,22.396
70,1050,03/31/2007,2007,1,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,22.648,8.915,0,17.872,A,143.5975,12.4900,3564,12.634,26.365
71,1050,06/30/2007,2007,2,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,1.624,8.766,0,16.457,A,167.8835,11.4800,3564,12.634,24.637
72,1050,09/30/2007,2007,3,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,0.757,9.076,0,17.810,A,225.9759,15.2800,3564,12.634,26.154
73,1050,12/31/2007,2007,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,4.429,9.284,0,21.220,A,162.3832,10.9800,3564,12.634,29.848
74,1050,03/31/2008,2008,1,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,21.424,11.304,0,22.558,A,126.9480,8.5200,3564,8.195,33.146
75,1050,06/30/2008,2008,2,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,18.835,11.601,0,21.341,A,88.0496,5.8900,3564,8.195,32.079
76,1050,09/30/2008,2008,3,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,9.216,12.079,0,6.806,A,59.1980,3.9600,3564,8.195,18.466
77,1050,12/31/2008,2008,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,25.200,12.205,0,24.843,A,34.6617,2.4200,3564,8.195,35.879
78,1050,03/31/2009,2009,1,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,17.483,12.295,0,17.912,A,42.2747,2.9600,3564,1.280,29.130
79,1050,06/30/2009,2009,2,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,12.729,12.155,0,13.309,A,56.8384,3.9800,3564,1.280,24.343
80,1050,09/30/2009,2009,3,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,13.258,11.915,0,13.854,A,53.5838,3.7500,3564,1.280,24.918
81,1050,12/31/2009,2009,4,INDL,C,D,STD,CECE,CECO ENVIRONMENTAL CORP,...,12.671,11.362,0,15.069,A,56.4416,3.9500,3564,1.280,25.038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,1078,12/31/2007,2007,4,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,9487.789,7518.149,0,4939.455,A,87027.4465,56.1500,2834,5523.545,10001.220
174,1078,03/31/2008,2008,1,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,9042.858,7620.704,0,4341.295,A,85112.7744,55.1500,2834,6477.095,9252.048
175,1078,06/30/2008,2008,2,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,9574.566,7791.884,0,4940.618,A,81655.7446,52.9700,2834,6477.095,8935.916
176,1078,09/30/2008,2008,3,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,9265.163,7640.721,0,5667.294,A,89340.0916,57.5800,2834,6477.095,10497.672
177,1078,12/31/2008,2008,4,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,8713.327,7219.166,0,5450.651,A,82853.3492,53.3700,2834,6477.095,8557.795
178,1078,03/31/2009,2009,1,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,11675.953,7310.433,0,6237.623,A,73718.3943,47.7000,2834,6903.741,8673.261
179,1078,06/30/2009,2009,2,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,11371.518,7448.303,0,7585.995,A,72719.7475,47.0400,2834,6903.741,10829.994
180,1078,09/30/2009,2009,3,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,11576.556,7522.399,0,8891.335,A,76517.1289,49.4700,2834,6903.741,11537.819
181,1078,12/31/2009,2009,4,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,11266.294,7619.489,0,10264.402,A,83747.5603,53.9900,2834,6903.741,9074.552
182,1078,03/31/2010,2010,1,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,10878.649,8060.114,0,2507.193,A,81315.0042,52.6800,2834,8038.781,9000.487
183,1078,06/30/2010,2010,2,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,12612.655,7875.608,0,5226.047,A,72229.6766,46.7800,2834,8038.781,8779.953
184,1078,09/30/2010,2010,3,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,12910.681,7939.787,0,3863.549,A,80753.4278,52.2400,2834,8038.781,7985.191
185,1078,12/31/2010,2010,4,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,12523.517,7970.956,0,5055.095,A,74116.0034,47.9100,2834,8038.781,9377.680
186,1078,03/31/2011,2011,1,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,12530.246,8078.195,0,6422.029,A,76237.5812,49.0500,2834,8996.448,11760.068
187,1078,06/30/2011,2011,2,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,12627.761,8128.450,0,8292.250,A,81907.0817,52.6200,2834,8996.448,12343.682
188,1078,09/30/2011,2011,3,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,13096.767,7977.460,0,7680.455,A,79665.6874,51.1400,2834,8996.448,10608.616
189,1078,12/31/2011,2011,4,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,12039.822,7873.955,0,8288.546,A,88302.4112,56.2300,2834,8996.448,9349.681
190,1078,03/31/2012,2012,1,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,11861.505,7955.257,0,8816.208,A,96433.1957,61.2900,2834,9783.515,12425.555
191,1078,06/30/2012,2012,2,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,12004.092,7831.272,0,9137.025,A,101174.9630,64.4700,2834,9783.515,9915.521
192,1078,09/30/2012,2012,3,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,12054.640,7960.648,0,10978.266,A,108370.5981,68.5600,2834,9783.515,10941.966
193,1078,12/31/2012,2012,4,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,18085.302,8063.047,0,18042.407,A,103271.6885,65.5000,2834,9783.515,15303.291
194,1078,03/31/2013,2013,1,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,3466.576,5791.492,0,8690.542,A,55059.1118,35.3200,2834,2674.000,10108.914
195,1078,06/30/2013,2013,2,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,3410.759,5768.649,0,8911.510,A,54207.8800,34.8800,2834,2674.000,9107.905
196,1078,09/30/2013,2013,3,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,3403.069,5842.369,0,8417.284,A,51317.9133,33.1900,2834,2674.000,11377.199
197,1078,12/31/2013,2013,4,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,3388.000,5905.000,0,9740.000,A,59338.5963,38.3300,2834,2674.000,12170.000
198,1078,03/31/2014,2014,1,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,3387.000,5948.000,0,7745.000,A,57839.6709,38.5100,2834,2927.000,11633.000
199,1078,06/30/2014,2014,2,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,3403.000,5935.000,0,8405.000,A,61501.2891,40.9000,2834,2927.000,10770.000
200,1078,09/30/2014,2014,3,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,3719.000,5872.000,0,5641.000,A,62625.8477,41.5900,2834,2927.000,7900.000
201,1078,12/31/2014,2014,4,INDL,C,D,STD,ABT,ABBOTT LABORATORIES,...,3408.000,5935.000,0,4729.000,A,67891.7357,45.0200,2834,2927.000,6601.000
205,1104,12/31/1990,1990,4,INDL,C,D,STD,ACU,ACME UNITED CORP,...,9.771,8.966,0,20.405,A,NaN,5.2500,3420,2.405,27.801

In [120]:
# check the validities of the ratio1 values
print len(df[df['ratio1']==0])
print df['ratio1'].isnull().sum()

3209
0

In [116]:
# basic function to calculate ratio 2 across a row
# ratio 2 = EBIT / EV
# EBIT = earnings before interest and taxes, after subtracting depreciation and amortization
# EV = enterprise value = market cap + debt - cash
# EV = MKVALTQ + DTQ - CHQ
# MKVALTQ = market cap = value of preferred stock + value of common stock
# MKVALTQ = PSTKQ + CSTKQ 
# DTQ = debt = long-term debt + net current debt
# DTQ = DLTTQ + DLCQ
# CHQ = cash
# ratio 2 = EBIT / (MKVALTQ + DLCQ + DLTTQ - CHQ)
def ratio_two(row):
    if math.isnan(row['mkvaltq']) or math.isnan(row['dlcq']) or math.isnan(row['dlttq']) or math.isnan(row['chq']) or 
        row['mkvaltq']+row['dlcq']+row['dlttq']-row['chq']==0: 
        ratio = 0
    else: 
        ratio=row['ebit']/(row['mkvaltq']+row['dlcq']+row['dlttq']-row['chq'])
    return ratio

    if math.isnan(row['ppentq']) or math.isnan(row['wcapq']) or math.isnan(row['chq']) or row['ppentq']+row['wcapq']-row['chq']==0:
        ratio = 0
    else: 
        ratio=row['ebit']/(row['ppentq']+row['wcapq']-row['chq'])
    return ratio

In [117]:
df['ratio2']=df.apply(ratio_two,axis=1)

KeyError: ('cstk', u'occurred at index 1')

In [14]:
print len(df[df['ratio2']==0])
print df['ratio2'].isnull().sum()

19848
0

In [ ]:
df['rank1'] = df['ratio1'].rank(ascending=False)
df['rank2'] = df['ratio2'].rank(ascending=False)
df['ranksum'] = df['rank1']+df['rank2']

In [15]:
df.to_csv("CleanedAnnual1990-2015.csv")

# Moving forward:
1. Rank companies based on ratio1 for given year (From high-better, to low-worse) 
2. Rank companies based on ratio2 for given year
3. Add the two rankings to get company's overall status for the year
4. Year over year, buy high-ranking companies and sell low-ranking companies
## have pricing data from 1990 (on monthly basis) in CSV file
## have adjustment data from 1990 (on quarterly basis) in CSV file
1. Adjust the prices based on AJEX
2. Run simulations based on ^^